<div class="container">
  <div class="link_buttons">
    <h4>
      <%= link_to "Completed Forms", completed_forms_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "Location Status", beacons_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "View Employees", employees_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "Add an Employee", new_employee_path, class: "btn btn-hg btn-primary" %>
    </h4>
  </div>
  <div class="employee_index">
    <table class="table beacons" >
    <h2 class= "forms_header">Inspection Locations</h2>
      <tr>
        <th>Name</th>
        <th>Current Employee</th>
        <th>Last Updated</th>
      </tr>
      <% @beacons.each do |beacon| %>
          <tr class="beacon">
            <td><%= beacon.location %></td>
            <td><%= beacon.employee ? beacon.employee.name : "No employee information" %></td>
            <td><%= beacon.beacon_time_stamp %></td>
          </tr>
      <% end %>
    </table>

      <div class="completed_form_totals">

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Today</th>
        <th>Week</th>
        <th>Month</th>
      </tr>
    </thead>
    <tbody class="data_totals">
      <tr>
        <th><%= @forms.find(1).title %></th>
        <th><%= @completed_forms.today(1) %></th>
        <th><%= @completed_forms.this_week(1) %></th>
        <th><%= @completed_forms.this_month(1) %></th>
      </tr>
      <tr>
        <th><%= @forms.find(2).title %></th>
        <th><%= @completed_forms.today(2) %></th>
        <th><%= @completed_forms.this_week(2) %></th>
        <th><%= @completed_forms.this_month(2) %></th>
      </tr>
      <tr>
        <th><%= @forms.find(3).title %></th>
        <th><%= @completed_forms.today(3) %></th>
        <th><%= @completed_forms.this_week(3) %></th>
        <th><%= @completed_forms.this_month(3) %></th>
      </tr>
      <tr>
        <th>Total</th>
        <th><%= @completed_forms.total_today %></th>
        <th><%= @completed_forms.total_this_week %></th>
        <th><%= @completed_forms.total_this_month %></th>
      </tr>
    </tbody>
  </table>
</div>



  </div>
</div>
