<div class="container">

  <%= render :partial => 'welcome/buttons' %>

  <div class="beacon_index">
    <table class="table beacons" >
    <h2 class= "forms_header">Inspection Locations</h2>
      <tr>
        <th>Name</th>
        <th>Current Employee</th>
        <th>Last Updated</th>
      </tr>
      <% @beacons.each do |beacon| %>
          <tr class="beacon">
            <td><%= beacon.location %></td>
            <td><%= beacon.employee ? beacon.employee.name : "No employee information" %></td>
            <td><%= beacon.beacon_time_stamp %></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div class="completed_form_totals">
    <table class="table totals">
      <thead>
        <tr>
          <th></th>
          <th><%= link_to "Today", completed_forms_today_path %></th>
          <th><%= link_to "Week", completed_forms_week_path %></th>
          <th><%= link_to "Month", completed_forms_month_path %></th>
        </tr>
      </thead>
      <div class="data_totals">
        <tr>
          <th><%= link_to "#{@forms.find(1).title}", completed_forms_keg_path %></th>
          <th><%= link_to "#{@completed_forms.today(1).size}", completed_forms_keg_today_path %></th>
          <th><%= link_to "#{@completed_forms.this_week(1).size}", completed_forms_keg_week_path %></th>
          <th><%= link_to "#{@completed_forms.this_month(1).size}", completed_forms_keg_month_path %></th>
        </tr>
        <tr>
          <th><%= link_to "#{@forms.find(2).title}", completed_forms_kitchen_path %></th>
          <th><%= link_to "#{@completed_forms.today(2).size}", completed_forms_kitchen_today_path %></th>
          <th><%= link_to "#{@completed_forms.this_week(2).size}", completed_forms_kitchen_week_path %></th>
          <th><%= link_to "#{@completed_forms.this_month(2).size}", completed_forms_kitchen_month_path %></th>
        </tr>
        <tr>
          <th><%= link_to "#{@forms.find(3).title}", completed_forms_restroom_path %></th>
          <th><%= link_to "#{@completed_forms.today(3).size}", completed_forms_restroom_today_path %></th>
          <th><%= link_to "#{@completed_forms.this_week(3).size}", completed_forms_restroom_week_path %></th>
          <th><%= link_to "#{@completed_forms.this_month(3).size}", completed_forms_restroom_month_path %></th>
        </tr>
        <tr>
          <th><%= link_to "Total", completed_forms_path %></th>
          <th><%= link_to "#{@completed_forms.total_today.size}", completed_forms_today_path %></th>
          <th><%= link_to "#{@completed_forms.total_this_week.size}", completed_forms_week_path %></th>
          <th><%= link_to "#{@completed_forms.total_this_month.size}", completed_forms_month_path %></th>
        </tr>
      </div>
    </table>
  </div>

</div>
