<div class="container">
<div class="link_buttons">
  <h4>
    <%= link_to "Location Status", beacons_path, class: "btn btn-hg btn-primary" %>
    <%= link_to "View Employees", employees_path, class: "btn btn-hg btn-primary" %>
    <%= link_to "Inspection Forms", forms_path, class: "btn btn-hg btn-primary" %>
    <%= link_to "Add an Employee", new_employee_path, class: "btn btn-hg btn-primary" %>
  </h4>
</div>

  <div class="employee_index">
  <h2>Employees</h2>
    <table class="table">
      <tr>
        <th>Employee</th>
        <th>Email</th>
      </tr>
      <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= mail_to "#{employee.email}" %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
