<td><%= link_to "Select", completed_form_path(completed) %></td>
<td><%=  completed.date %></td>
<td><%=  completed.time %></td>
<td><%=  completed.title %></td>
<td><%=  completed.employee.name %></td>