
<div class="container">

  <div class="link_buttons">
    <h4>
      <%= link_to "Location Status", beacons_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "Completed Forms", completed_forms_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "View Employees", employees_path, class: "btn btn-hg btn-primary" %>
      <%= link_to "Add an Employee", new_employee_path, class: "btn btn-hg btn-primary" %>
    </h4>
  </div>

  <div class="completed_form_index">
    <h2>Completed Forms</h2>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Employee</th>
      </tr>
      </thead>

      <% @completed_forms.each do |completed| %>
          <tr class="completed_forms">
            <%= render :partial => 'completed_forms/completed_form', locals: {completed: completed} %>
          </tr>

      <% end %>
    </table>
  </div>

  <script>var lastId = <%= @last_id %></script>

  




