<div class="container">
  <h4> <%= link_to "View Employees", employees_path %> | <%= link_to "Add an Employee", new_employee_path %></h4>

<div class="index_page">
  <h4> <%= link_to "View Employees", employees_path, class: "btn btn-hg btn-primary" %> <%= link_to "Add an Employee", new_employee_path, class: "btn btn-hg btn-primary" %></h4>
  <h2>Completed Forms</h2>
  <ul>
    <% @completed_forms.each do |completed| %>
      <li>
        <%= link_to "#{completed.date} - #{completed.time} : #{completed.title}", completed_form_path(completed) %>
      </li>
    <% end %>
  </ul>
</div>


<div class="sidebar" >
  <div id="graph" class="agraph">
    <script>var data = <%= @restroom_form.first.first_values %></script>
    <script>var yLabels = <%= raw @restroom_form.first.first_get_possible%>
    var xLabels = <%= raw @restroom_form.first.get_complete_dates %>
    </script>

    <h2><%=@restroom_form.first.title%></h2>
    <script>var title = "<%=@restroom_form.first.questions.first.text%>" </script>
  </div>

</div>
