<div class="container">

  <%= render :partial => 'welcome/buttons' %>

  <div class="completed_form_index">
    <h2>Completed Kitchen Inspections Today</h2>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Employee</th>
      </tr>
      </thead>

      <% @completed_forms.each do |completed| %>
          <tr class="completed_forms">
            <td><%= link_to "Select", completed_form_path(completed), class: 'button' %></td>
            <td><%=  completed.date %></td>
            <td><%=  completed.time %></td>
            <td><%=  completed.title %></td>
            <td><%=  completed.employee.name %></td>
          </tr>

      <% end %>
    </table>
  </div>
</div>
