<div class="container">

  <h2>Completed Form #<%=@completed_form.id%></h2>

  EMPLOYEE: <%= @completed_form.employee.name %><br>
  DATE: <%= @completed_form.date%>
  <!-- TIME: <%= @completed_form.time%> -->
  <% @completed_form.zip_it.each do |q_and_a| %><br>
    <% q_and_a.each do |q_or_a| %><br>
      <%= q_or_a %>
    <% end %>
  <% end %>

</div>
