<div class="container">

<%= render :partial => 'welcome/buttons' %>

<div class="form_show">
  <h2>Completed Form #<%=@completed_form.id%></h2>
  LOCATION: <%= @completed_form.title %><br>
  EMPLOYEE: <%= @completed_form.name %><br>
  DATE: <%= @completed_form.date%><br>
  TIME: <%= @completed_form.time%>
  <% @completed_form.zip_it.each do |q_and_a| %><br>
    <% q_and_a.each do |q_or_a| %><br>
      <%= q_or_a %>
    <% end %>
  <% end %>
</div>
</div>
