 <div class="container">
  <form id="empty_form" action="/completed_forms" method="post">
  	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  	<input type="hidden" name="response[form_id]"value="<%= @empty_form.id %>">
  	<ol>
  		<% @empty_form.questions.each do |question| %>
  			<li><%= question.text %>  <input type="text" name="responses[<%=question.id%>]"> </li>
  		<% end %>

      <select name="response[employee_id]">
        <% @employees.each do |employee| %>
        <option  value="<%= employee.id %>"><%=employee.name%></option>
        <% end %>
      </select><br>
  		<input class="take" type="submit" value="Submit">
  	</ol>
  </form>
</div>
