 <div class="container">
  <h2><%= @empty_form.title %></h2>
  <form id="empty_form" action="/completed_forms" method="post">
    <label>Employee <select name="response[employee_id]">
      <% @employees.each do |employee| %>
      <option  value="<%= employee.id %>"><%=employee.name%></option>
      <% end %><br>
    </select></label><br><br>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="response[form_id]"value="<%= @empty_form.id %>">
    <ol>
      <% @empty_form.questions.each do |question| %>
        <li><%= question.text %></li>
          <% question.possible_responses.each do |possible_response| %>
          <li><input type="radio" name="responses[<%=question.id%>]" value="<%= possible_response.id %>"> <%=possible_response.text%></li>
          <% end %>
          <br>
      <% end %>

  		<input class="take" type="submit" value="Submit">
  	</ol>
  </form>
</div>
