<!DOCTYPE html>
<html>
<head>
  <title>Qaware</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.17.2/build/cssreset/cssreset-min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
    <% if session[:manager_id] %>
      <nav class="navbar" role="navigation">
          <div>
            <%= link_to "QAware", completed_forms_path, class: "navbar-header" %>
            <span>
              <%#= link_to "Forms", forms_path, class: "btn btn-default" %>
              <%= link_to "Log Out",  logout_path, class: "btn btn-default"%>
            </span>
          </div>
      </nav>
    <% end %>

<%= yield %>

</body>
</html>
