<!DOCTYPE html>
<html>
<head>
  <title>Qaware</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div>
      <%= link_to "Home", root_path %>
      <span>
        <%= link_to "Manager Login",  completed_forms_path%>
      </span>
    </div>
  </nav>

<%= yield %>

</body>
</html>
